@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  margin: 0;
  padding: 0;
  background: #e8e8e8;
  font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

img {
  vertical-align: middle;
}

div {
  display: block;
}

nav {
  padding-top: 16px;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.layout {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.sketch {
  width: 0px;
  height: 0px;
  position: absolute;
  border: solid 1px #d0d0d0;
  overflow: hidden;
}

.select {
  width: 0px;
  height: 0px;
  position: absolute;
  border: solid 1px #d0d0d0;
  pointer-events: none;
}

.layout-content {
  position: relative;
  flex-grow: 1;
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  cursor: pointer;
}

.layout-top-bar {
  height: 4px;
}

#info {
  position: absolute;
  right: 0px;
  height: 100%;
  background: #e8e8e8;
}

.infoItem {
  position: relative;
  z-index: 2;
  right: 0px;
  width: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-bottom: 4px;
  margin-left: 1px;
}

#appearance.infoItem {
  margin-bottom: 0px;
}

#positioningPresets {
  height: 7%;
}

#positioning {
  height: 15%;
}

#appearance {
  height: 76.8%;
}

#tool-palate {
  position: absolute;
  z-index: 2;
  width: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  height: 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.nav-item {
  display: block;
    -ms-flex-negative: 0;
    padding: 16px 14px;
    line-height: 24px;
    opacity: .87;
    left: 5px;
}

.infoItem > .header {
  font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
  height: 9%;
}

.infoItem > .header > h3 {
  margin: 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  top: 27%;
  left: 3%;
}

.infoItem > .colorPicker {
  height: 387px;
  background: #fff;
}

.colorPicker > .chrome-picker {
  background: #fff;
  border-radius: 2px;
  box-sizing: 'initial';
  width: 90.5%;
  position: relative;
  top: -40px;
  margin: 0 auto;
}

.borderControll > .borderColor {
  width: 21px;
  height: 21px;
  background: rgba(0, 0, 0, 0.54);
  border-radius: 4px;
  float: right;
  margin-top: 13px;
  margin-right: 220px;
}

.borderControll > p {
  color: rgba(0, 0, 0, 0.54);
  float: right;
  margin-right: 150px;
  margin-top: -31px;
  font-weight: bold;
}

.borderControll > .picker {
  float: right;
  margin-top: -36px;
  font-weight: bold;
  position: absolute;
  right: 12px;
}

.borderControll > .borderWidth {
  margin-left: 14px;
  width: 65px;
  margin-top: -20px;
}

.borderControll > .lineStyle > .select > .MuiInput-underline-37:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: none;
  pointer-events: none;
}

.line {
  border-width: 2px;
  border-radius: 2px;
  width: 60px;
  border-color: rgba(0, 0, 0, 0.54);
  position: relative;
  top: 8.5px;
}

.line.solid {
  border-style: solid;
}

.line.dashed {
  border-style: dashed;
}

.lineStyle {
  position: relative;
  top: -56px;
  left: 104.5px;
}

.sketch-icon {
  height: 30px; 
}

.selector {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  border: solid 1px #427fd3;
  position: relative;
  background: #fff;
  pointer-events: all;
}

.selector.left {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}
.selector.right, .selector.middel {
  float: right;
  top: -14px;
  margin-right: -5px;
  cursor: nesw-resize;
}

.selector.middel-horizontal {
  cursor: ns-resize;
}

.selector.middel-vertical {
  cursor: ew-resize;
}

.sketchContainer {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layout-menu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    background: #fafafa;
    height: 60px;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
}

.export-button {
  float: right;
  top: 6px;
  right: 24px;
}
